* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #ecece6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #860909;
  color: white;
  text-align: center;
  padding: 20px;
}

#pokedex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 20px;
  width: 100%;
}

.evolution-line {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  text-align: center;
  padding: 10px;
  width: 150px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.pokemon-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

.pokemon-card img {
  width: 100px;
}

.evolution-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
}

footer {
  text-align: center;
  font-size: 13px;
  padding: 10px;
  background-color: #860909;
  color: white;
  margin-top: auto;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #999894;
  text-decoration: underline; 
}

a:active {
  color: #747373;
}
